<% var data = album; %><!doctype html>
<html>
  <%- include('partial/_head', {
    pageId: data.id
  }); %>
  <body>
    <%- include('partial/_nav', {
      current: page.name
    }); %>
    <main>
      <div class="container-fluid my-5">

      </div>
    </main>
    <%- include('partial/_footer'); %>
  </body>
</html>
