<!doctype html>
<html>
  <%- include('partial/_head'); %>
  <body>
    <div class="wrapper">
      <%- include('partial/_nav', {
        current: page.id
      }); %>
      <main>
        <div class="container-fluid my-5">
          
        </div>
      </main>
      <%- include('partial/_footer'); %>
    </div>
  </body>
</html>
