<!doctype html>
<html>
  <%- include('partial/_head'); %>
  <body>
    <%- include('partial/_nav', {current: 'index'}); %>
    <main>

    </main>
    <%- include('partial/_footer'); %>
  </body>
</html>
