<!doctype html>
<html>
  <%- include('partial/_head'); %>
  <body>
    <div class="wrapper p-0">
      <main>
        <div class="container-fluid" id="fadeIn">
          <div class="row">
            <div class="col-12 text-center" style="height: 70vh;">
              <div class="site-title">
                <h1>Shiori</h1>
                <h2>DIGITAL PHOTO ALBUM</h2>
              </div>
            </div>
            <div class="col-12 text-center">
              <a class="btn btn-default open" href="<%- site.rootPath %>/albums.html" role="button">Open →</a>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%- include('partial/_footer_js'); %>
  </body>
</html>
